slurm-*.out
slurm-*.err
mult-5/*
mult-10/*
outputfile
.*.html
fibo.fig
Hello.txt
stdout.*
stderr.*
my_serial_job-*.*
T_hello
omp1
omp2
omp3
mpi_hello
eat_mem
eat_cpu
eat_disk
hello
mpihello
output-slurm.*
